<div>
  <h1>Calculadora</h1>

  <div>
    <label for="numeroUm">Informe o número 1</label>
    <input id="numeroUm" type="number" [(ngModel)]="numeroUm" > 

  </div>

  <div>
    <label for="numeroDois">Informe o número 2</label>
    <input id="numeroDois" type="number" [(ngModel)]="numeroDois">
  </div>

  <div>
    <label for="operacao">Informe a operação</label>
    <select id="operacao" [(ngModel)]="operacao">
      <option value="SOMA">Operação de soma</option>
      <option value="SUBTRACAO">Operação de subtração</option>
      <option value="DIVISAO">Operação de divisão</option>
      <option value="MULTIPLICACAO">Operação de multiplicação</option>
    </select> 
  </div>

  <div>

    <button style="background: rgb(12, 156, 106)" (click)="onClickExecutaroperacao()">Executar operação</button>
  </div>

    <div>
      <h2 style="backgroud: green"> Resultado: {{ response.resultado }}</h2>
    </div>
  
</div>
